<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a *ngIf="!isLoggedIn()" class="navbar-brand" href="#">
        <img src="../assets/img/analizarSinBg.png" alt="Logo" width="64" height="64" class="d-inline-block align-text-top mx-2">
      </a>
      <button *ngIf="isLoggedIn()" class="bg-transparent border-0" type="submit" id="menuLateral" (click)="openSidebar()">
        <i id="changeIcon" class="d-inline-block align-text-top mx-2 bi bi-list display-6 text-green"></i>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav fw-bold align-items-lg-baseline text-center">
            <!--
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../view/loginAdmin.html">ADMINISTRADOR</a>
          </li>
            -->
            <div class="container-font">
              <li #one class="nav-item font" data-fontSize="14" (click)="changeFontSize(one)">
                A
              </li>
              <li #two class="nav-item font active" data-fontSize="16" (click)="changeFontSize(two)">
                A
              </li>
              <li #three class="nav-item font" data-fontSize="18" (click)="changeFontSize(three)">
                A
              </li>
            </div>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="0" (keyup.enter)="handleEnterKey($event)">INICIO</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" fragment="servicios" tabindex="0" (keyup.enter)="handleEnterKey($event)">SERVICIOS</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" fragment="faq" tabindex="0" (keyup.enter)="handleEnterKey($event)">FAQ</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" fragment="contacto" tabindex="0" (keyup.enter)="handleEnterKey($event)">CONTACTO</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/productos" tabindex="0"(keyup.enter)="handleEnterKey($event)">PRODUCTOS</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/planes" tabindex="0"(keyup.enter)="handleEnterKey($event)">PLANES</a>
          </li>
          <li *ngIf="!isAdmin()"class="nav-item">
            <a class="nav-link" routerLink="/carrito" tabindex="0"(keyup.enter)="handleEnterKey($event)">CARRITO<i class="bi bi-cart-fill fs-4"></i></a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link btn btn-green px-4 rounded-pill" routerLink="/login" tabindex="0"(keyup.enter)="handleEnterKey($event)">INGRESAR</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link btn btn-green px-4 rounded-pill" (click)="logout()" tabindex="0"(keyup.enter)="handleEnterKey($event)">CERRAR SESION</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav id="submenu" class="m-0 sidebar">
    <ul class="list-unstyled bg-green m-auto align-items-center">
      <li *ngIf="!isAdmin()" (click)="closeSidebar()" class="list-sidebar"><a class="list-sidebar-item" href="/dashboard-client" tabindex="0"(keyup.enter)="handleEnterKey($event)">Dashboard</a></li>
      <li *ngIf="isAdmin()"  (click)="closeSidebar()" class="list-sidebar"><a class="list-sidebar-item" href="/dashboard-admin" tabindex="0"(keyup.enter)="handleEnterKey($event)">Dashboard Admin</a></li>
      <!-- <li class="list-sidebar"><a class="list-sidebar-item" routerLink="/historial">Historial</a></li> -->
      <li *ngIf="!isAdmin()"  (click)="closeSidebar()" class="list-sidebar"><a class="list-sidebar-item" routerLink="/alertas">Alertas</a></li>
      <li class="list-sidebar" (click)="closeSidebar()" ><a class="list-sidebar-item" routerLink="/productos">Productos</a></li>
      <li class="list-sidebar" (click)="closeSidebar()" ><a class="list-sidebar-item" routerLink="/planes">Planes</a></li>
      <li class="list-sidebar" (click)="closeSidebar()" ><a class="list-sidebar-item" routerLink="/iluminacion">Iluminacion</a></li>
      <li *ngIf="!isAdmin()"  (click)="closeSidebar()" class="list-sidebar"><a class="list-sidebar-item" routerLink="/medidores">Medidores</a></li>
      <!-- <li class="list-sidebar"><a class="list-sidebar-item" routerLink="/mi-cuenta">Cuenta</a></li> -->
    </ul>
  </nav>
