<section class="container" #miElemento>
    <div class="forms">
        <div class="form login">
            <span class="title">Login</span>

        <form [formGroup]="loginDash" (ngSubmit)="onSubmit()" tabindex="0" (keyup.enter)="handleEnterKey($event)">
            <p class="text-danger">{{loginError}}</p>
            <div class="field email-field">
                <div class="input-field">
                  <label for="email">
                     <span class="required">*</span>
                  </label>
                  <input type="email" placeholder="Ingresa tu email" class="email" formControlName="email" required tabindex="0" (keyup.enter)="handleEnterKey($event)">
                </div>
                <div *ngIf="loginDash.get('email')?.touched && loginDash.get('email')?.errors?.['required']" class="error email-error">
                    <i class="bi bi-exclamation-circle mx-2" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>Por favor ingrese un e-mail
                </div>
                <div *ngIf="loginDash.get('email')?.touched && loginDash.get('email')?.errors?.['pattern']" class="error email-error">
                    <i class="bi bi-exclamation-circle mx-2" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>Por favor ingrese un e-mail válido
                </div>
              </div>

              <div class="field confirm-password">
                <div class="input-field">
                  <label for="email">
                    <span class="required">*</span>
                 </label>
                  <input #password
                  [type]="show ? 'text' : 'password'"
                    placeholder="Ingresa tu contraseña"
                    class="cPassword"
                    formControlName="password" tabindex="0" (keyup.enter)="handleEnterKey($event)"/>
                  <i [ngClass]="(password.type == 'password')? 'bx-hide':'bx-show'" class="bx show-hide" (click)="showPass()" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>
                </div>
                <div *ngIf="loginDash.get('password')?.touched && loginDash.get('password')?.errors?.['required']" class="error cPassword-error">
                    <i class="bi bi-exclamation-circle mx-2"></i>Por favor ingrese una contraseña
                </div>
                <div *ngIf="loginDash.get('password')?.touched && loginDash.get('password')?.errors?.['minlength']" class="error cPassword-error">
                    <i class="bi bi-exclamation-circle mx-2" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>Por favor ingrese un contraseña de más de 8 caracteres
                </div>
              </div>

            <div class="checkbox-text">
                <div class="checkbox-content">
                    <input type="checkbox" id="logCheck" tabindex="0" (keyup.enter)="handleEnterKey($event)">
                    <label for="logCheck" class="text">Recuérdame</label>
                </div>

                <a (click)="resetPass()" class="text signup-link" tabindex="0" (keyup.enter)="handleEnterKey($event)">Olvidaste tu contraseña?</a>
            </div>

            <div class="input-field button">
                <input type="submit" value="Ingresar" tabindex="0" (keyup.enter)="handleEnterKey($event)"/>
            </div>
        </form>

            <div class="login-signup">
                <span class="text">No estás registrado?
                    <a href="/registro" class="text signup-link" tabindex="0" (keyup.enter)="handleEnterKey($event)">Regístrate ahora</a>
                </span>
                <a href="/" class="text signup-link" tabindex="0" (keyup.enter)="handleEnterKey($event)">Volver al Inicio</a>
            </div>

        </div>

       <!-- Formulario de "olvidó su contraseña"-->
        <div class="form signup" id="formReset">
            <span class="title">Reestablece tu contraseña</span>

        <form [formGroup]="resetFormPass" (ngSubmit)="onResetPass()" tabindex="0" (keyup.enter)="handleEnterKey($event)">
            <div class="input-field">
              <label for="email">
                <span class="required">*</span>
             </label>
                <input type="email" placeholder="Ingresa tu email" formControlName="email" tabindex="0" (keyup.enter)="handleEnterKey($event)">
                <i class="uil uil-envelope icon" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>
            </div>
            <div *ngIf="resetFormPass.get('email')?.touched && resetFormPass.get('email')?.errors?.['required']" class="error email-error">
                <i class="bi bi-exclamation-circle mx-2" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>Por favor ingrese un e-mail
            </div>
            <div *ngIf="resetFormPass.get('email')?.touched && resetFormPass.get('email')?.errors?.['pattern']" class="error email-error">
                <i class="bi bi-exclamation-circle mx-2" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>Por favor ingrese un e-mail válido
            </div>

            <div class="checkbox-text">
                <div class="checkbox-content">
                    <input type="checkbox" id="sigCheck" tabindex="0" (keyup.enter)="handleEnterKey($event)">
                    <label for="sigCheck" class="text">Recuerdo mi usuario</label>
                </div>
            </div>

            <div class="input-field button">
                <input type="button" value="Reestablecer contraseña" tabindex="0" (keyup.enter)="handleEnterKey($event)">
            </div>
        </form>

            <div class="login-signup">
                <span class="text">Estás registrado?
                    <a (click)="formLogin()" class="text login-link" tabindex="0" (keyup.enter)="handleEnterKey($event)">Login</a>
                </span>
            </div>
        </div>

    </div>
</section>

