<!-- Primer bloque -->
<div class="contenedor-superior">
    <div class="contenedor-superior-item1">
    <h1 class="titulos-h1" id="titulo-principal" (mousemove)="cambiarTitulo()" (mouseout)="restaurarTitulo()"><strong>Controlar el consumo
    eléctrico nunca fue tan fácil</strong></h1>
    <h3><strong class="titulos-h3">AnalizAr te brinda la capacidad de comprender tu consumo de energía eléctrica, permitiéndote estimar tus gastos mensuales, realizar comparaciones con meses anteriores ¡y mucho más! Descubrí tu consumo de luz de manera intuitiva y tomá el control de tus gastos energéticos.</strong></h3>
    </div>
    <div class="contenedor-superior-item2">
    <img src="../assets/img/fondo1b.png" alt="representación visual de la aplicación en un dispositivo móvil" title="Personas usando Analizar" id="imagen-principal" (mouseover)="cambiarImagen()" (mouseout)="restaurarImagen()"/>
    </div>
</div>
<section class="sectionMain" id="servicios" role="region" aria-labelledby="titulo-servicios">
    <!-- Sección superior de la página -->
      <!-- Segundo bloque -->
      <h2 class="titulos-h2" id="titulo-servicios"><strong>SERVICIOS</strong></h2>
      
      <div class="contenedor-servicios">
        <div class="contenedor-imagen">
          <img src="../assets/img/fondo2b.png" alt="usuario revisando informes en la aplicación analizar" title="Informes AnalizAr" id="imagen-servicios" (mouseover)="cambiarImagenServicios()" (mouseout)="restaurarImagenServicios()"/>
        </div>
        <div class="contenedor-tabla">
          <div class="contenedor-item1">
            <h3 class="titulos-h3">Gestioná tu consumo eléctrico de manera eficiente con nuestra aplicación. Accedé fácilmente a toda la información que necesites, ¡desde cualquier dispositivo!</h3>
          </div>
          <div class="contenedor-item contenedor-item2">
            <p style="text-align: center;">Nivel de Consumo Diario</p>
          </div>
          <div class="contenedor-item contenedor-item3">
            <p style="text-align: center">Nivel de Consumo Mensual</p>
          </div>
          <div class="contenedor-item contenedor-item4">
            <p style="text-align: center">Costo Estimado</p>
          </div>
          <div class="contenedor-item contenedor-item5">
            <p style="text-align: center">Historial de Consumo</p>
          </div>
          <div class="contenedor-item contenedor-item6">
            <p style="text-align: center">Configuración de Alertas</p>
          </div>
        </div>
      </div>

      <!-- Sección media de la página -->
      <!-- Tercer bloque -->
      <div class="contenedor-comentarios">
        <div class="contenedor-tarjetas">
        <!-- Primer testimonio -->
          <div class="contenedor-textos">
            <h3 style="text-align: center"><strong>&#64;juli23</strong></h3>
            <p style="text-align: center">"Gracias a la app pude reducir el costo de mis facturas mensuales y contribuir al cuidado del medio ambiente. Una inversión inteligente para mi bolsillo y el planeta."</p>
          </div>
        </div>
       <!-- Segundo testimonio -->
        <div class="contenedor-tarjetas">
       <!-- Contenido del segundo testimonio -->
          <div class="contenedor-textos">
            <h3 style="text-align: center"><strong>&#64;carlosAG</strong></h3>
            <p style="text-align: center">"Desde que empecé a usar AnalizAr, tomé conciencia del consumo de luz en mi hogar. Me permitió identificar áreas de mejora y ajustar mis hábitos para un uso más eficiente de la energía"</p>
          </div>
        </div>
       <!-- Tercer testimonio -->
        <div class="contenedor-tarjetas">
       <!-- Contenido del tercer testimonio -->
          <div class="contenedor-textos">
            <h3 style="text-align: center">&#64;gaby9</h3>
            <p style="text-align: center">"Las alertas de AnalizAr son un gran recurso. Me ayudan a supervisar mi consumo de luz de forma efectiva, brindándome un recordatorio amigable para ahorrar energía y dinero."</p>
          </div>
        </div>
      </div>
</section>
<section class="seccion__faq" aria-labelledby="titulo-faq">
    <h2 class="titulos-h2" id="faq"><strong>FAQ</strong></h2>
    <details>
      <summary>1. ¿La aplicación tiene algún costo?</summary>
      <div>
        <p>
          No, la aplicación es completamente gratuita. No se requiere ningún tipo de pago para acceder a sus funcionalidades.
        </p>
      </div>
    </details>
    <details>
      <summary>2. ¿Es necesario tener conocimientos previos para utilizar la aplicación?</summary>
      <div>
        <p>
          Aunque la aplicación es intuitiva, se recomienda seguir el tutorial adjunto para aprovechar al máximo todas sus características. No se necesitan conocimientos previos para comenzar a utilizarla.
        </p>
      </div>
    </details>
    <details>
      <summary>3. ¿AnalizAr vende medidores eléctricos inteligentes?</summary>
      <div>
        <p>
          Sí, AnalizAr ofrece medidores eléctricos inteligentes como parte de sus servicios. La compra de estos dispositivos no es obligatoria, pero todos nuestros equipos vienen con una garantía escrita de 12 meses para cubrir cualquier defecto. Para obtener más información, comunicate con nuestros agentes comerciales.
        </p>
      </div>
    </details>
    <details>
      <summary>4. ¿Puedo usar AnalizAr en Android?</summary>
      <div>
        <p>
          ¡Sí! AnalizAr está disponible para dispositivos Android. Podés descargar la APK directamente desde nuestro sitio web. Solo tenés que hacer clic en el botón que indica "Descargar App" y seguir las instrucciones para instalarla en tu dispositivo. ¡Disfrutá de todas las funcionalidades de AnalizAr en tu móvil!
        </p>
      </div>
    </details>
    <details>
      <summary>5. ¿La aplicación está disponible en varios idiomas?</summary>
      <div>
        <p>
          Actualmente, la aplicación está disponible en español. Sin embargo, estamos trabajando constantemente para expandir nuestro soporte de idiomas y mejorar la accesibilidad para nuestros usuarios.
        </p>
      </div>
    </details>
  </section>
  <section class="seccion__contacto">
    <div class="cabecera">
      <h2 class="titulos-h2" id="contacto"><strong>CONTACTO</strong></h2>
    </div>
    <form [formGroup]="formContact" (ngSubmit)="onSubmit()" class="formulario" tabindex="0" (keyup.enter)="handleEnterKey($event)">
      <!-- Grupo: Nombre -->
      <div class="formulario__grupo" id="grupo__nombre">
        <label class="formulario__label">Nombre y Apellido</label>
        <div class="formulario__grupo-input">
          <input type="text" class="formulario__input" name="nombre" id="nombre" formControlName="nombreApellido" placeholder="Nombre y Apellido" tabindex="0" (keyup.enter)="handleEnterKey($event)">
          <i class="formulario__validacion-estado fas fa-times-circle" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>
        </div>
        <div *ngIf="formContact.get('nombreApellido')?.touched && formContact.get('nombreApellido')?.errors?.['required']" class="error email-error">
            <p class="formulario__input-error">Tenés que ingresar nombre y apellido.</p>
        </div>
      </div>

      <!-- Grupo: Correo Electrónico -->
      < class="formulario__grupo" id="grupo__correo">
        <label class="formulario__label">Correo Electrónico</label>
        <div class="formulario__grupo-input">
          <input type="email" class="formulario__input" name="correo" id="correo" formControlName="email" placeholder="nombre@gmail.com" tabindex="0" (keyup.enter)="handleEnterKey($event)">
          <i class="formulario__validacion-estado fas fa-times-circle" tabindex="0" (keyup.enter)="handleEnterKey($event)"></i>
        </div>
        <div *ngIf="formContact.get('email')?.touched && formContact.get('email')?.errors?.['required']" class="error email-error">

            <p class="formulario__input-error">Ingresá una dirección de mail</p>
        </div> 
        <div *ngIf="formContact.get('email')?.touched && formContact.get('email')?.errors?.['pattern']" class="error email-error">
            <p class="formulario__input-error">Recordá, el correo puede contener letras, números, punto, debe tener el símbolo &#64; y el proveedor del servicio.</p>
        </div>
      </div>

      <!-- Grupo: Mensaje -->
      <div class="formulario__grupo" id="grupo__mensaje">
        <label class="formulario__label">Mensaje</label>
        <div class="formulario__grupo-input">
          <input type="text" class="formulario__input" name="mensaje" id="mensaje" formControlName="mensaje" placeholder="Por favor, contanos el motivo de tu contacto para brindarte la mejor asistencia posible.">
          <i class="formulario__validacion-estado fas fa-times-circle"></i>              
        </div>
        <div *ngIf="formContact.get('mensaje')?.touched && formContact.get('mensaje')?.errors?.['required']" class="error email-error">
            <p class="formulario__input-error">Por favor, dejanos un mensaje con el motivo de tu solicitud de contacto.</p>
        </div>
      </div>

      <!-- Grupo: Términos y Condiciones -->
      <div class="formulario__grupo formulario__grupo-terminos" id="grupo__terminos">
        <label class="formulario__label">
          <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
          <b class="formulario__span">Acepto los términos y condiciones</b>
        </label>
      </div>

      <!-- Mensaje de campos requeridos -->
      <div class="formulario__mensaje" id="formulario__mensaje">
      <p><i class="fas fa-exclamation-circle"><b>Error:</b> Por favor, completá correctamente los campos del formulario.</i></p>
      </div>

      <!-- Grupo: Enviar -->
      <div class="formulario__grupo formulario__grupo-btn-enviar">
        <!-- <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado satisfactoriamente. En breve nos comunicaremos con Ud.</p> -->
        <button type="submit" class="formulario__btn" tabindex="0" (keyup.enter)="handleEnterKey($event)">Enviar</button>
      </div>
    </form>
  </section>
